<div>

        <h1>Number .toString()</h1>
        <h3>Definition:
        </h3>
        <p>
                As the word suggest "Number .toString", it converts the number to string. <br>
                > It is the opposite of parseInt. <br>
        </p>
        <p>
        <h4>Syntax: <b><em> number.toString(radix) </em></b> <br> </h4>
        <b>Parameter Values: </b> <br>
        Parameter: <b> radix </b><br>
        Description : Optional. Must be an integer between 2 and 36. <br>
        > 2 - Binary value <br>
        > 8 - Octal value <br>
        > 16 - Hexadecimal value <br>
        </p>
        <h3>Example 1: The Basics </h3>
        <code> Input: my num = 100 <br>
            myNumber.toString() <br>
            Output: '100'
    </code> <br>
        <code> Input: noNumber = NaN <br> 
            noNumber.toString() <br>
            Output: 'NaN' <br>
    </code>
        <code> Input: decNum = 122.33 <br>
            decNum.toString() <br>
            Output: "122.33" <br>
    </code> <br>
        <hr>
        <h3>Example 2: The radix </h3>
        <code>
           Input: var num = 15; <br>
                  var a = num.toString(); <br>
                  var b = num.toString(2); <br>
                  var c = num.toString(16); <br>
        </code>
        <code>Output: 
                a = 15 </code> <br>
        <code>  b = 1111 </code> //binary value of 15 <br> 
        <code>  c = f  </code> // hexadecimal value of 15

</div>