<<<<<<< Updated upstream
=======
<div class="row">
        <!-- Dropdown Card Example -->
        <div class="col">
                <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h1 class="m-0 font-weight-bold text-dark">Number .toString()</h1>
                                <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Save Me To Your Favourite!</a>
                                        </div>
                                </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                                <div>
                                        <h3>Definition:</h3>
                                        <p>
                                                As the word suggest "Number .toString", it converts the number to
                                                string. <br>
                                                > It is the opposite of parseInt. <br>
                                        </p>
                                        <h4>Syntax: <b><em> number.toString(radix) </em></b> <br> </h4>
                                        <b>Parameter Values: </b> <br>
                                        Parameter: <b> radix </b><br>
                                        Description : Optional. Must be an integer between 2 and 36. <br>
                                        > 2 - Binary value <br>
                                        > 8 - Octal value <br>
                                        > 16 - Hexadecimal value <br>
                                        </p>
                                        <hr>
                                        <h3>Example 1: The Basics</h3>
                                        <br>
                                        <img src="/img/num1.png" class="exampleImg">
                                        <hr>

                                        <h3>Example 2: The radix</h3>
                                        <br>
                                        <img src="/img/num2.png" class="exampleImg">
                                </div>
                        </div>
                </div>
        </div>
>>>>>>> Stashed changes
