<h1>String.length</h1>

<p>The length method withing javascript will return the total length (or number of characters) in any given string.</p>

<h2>Usage</h2>
<p>To use the length property of strings in javascript, simply add .length to any string.</p>

<h3>Examples</h3>
<code>"exampleString".length (returns 13)</code><br />
<code>"example".length (returns 7)</code>

